<link rel="stylesheet" href="/main.css">


<div class="flex-container">
  <div class="container">
      <h1>ATTENDENSE!</h1>
 
<p class="lead">Enter your email. We have <strong><%=data%><strong>  Attendees</p>
 
<form method="POST" action='/register'>
 <input type="text" class="form" name="email" placeholder="Enter Your Email">
 <button>Present</button>
</form>
    </div>  


    
</div>